/*-------------------- LOGO --------------------*/
.logo {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 50px;
	img {
		max-width: 50px;
		display: block;
		flex: 0 0 auto;
		margin-right: 10px;
	}
	&__title {
		display: block;
		font-size: 18px;
		text-transform: uppercase;
	}

	&__description {
		display: block;
		font-size: 12px;
	}
}

/*-------------------- BTN --------------------*/
.btn {
	background-color: transparent;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	min-width: 200px;
	color: #fff;
	padding: 6px;
	position: relative;
	font-weight: 600;
	font-size: $font_size_sm;
	letter-spacing: $letter_spacing;
	user-select: none;
	border: none;
	box-shadow: none;
	span {
		color: $primary_color;
		background-color: $accent_color;
		padding: 0 25px;
		display: block;
		line-height: 46px;
		height: 46px;
		transition: 0.3s ease;
	}
	span::before,
	span::after,
	&:before,
	&:after {
		content: "";
		position: absolute;
		background-color: $accent_color;
		transition: 0.25s ease;
	}
	span::before {
		right: 0;
		bottom: 0;
		height: 1px;
		width: 0;
	}
	span::after {
		bottom: 0;
		left: 0;
		height: 0;
		width: 1px;
	}
	&:before {
		height: 1px;
		width: 0;
		top: 0;
		left: 0;
	}
	&:after {
		top: 0;
		right: 0;
		height: 0;
		width: 1px;
	}
	&:hover {
		span::before,
		&:before {
			width: 100%;
		}
		span::after,
		&:after {
			height: 100%;
		}
		&:active {
			span {
				color: #fff;
			}
		}
	}
	&.btn-invert {
		span {
			color: #fff;
			background-color: $primary_color;
		}
		&:active {
			span {
				color: $accent_color;
			}
		}
	}
}

/*----------------------- BEFORE-TITLE -----------------------*/
.before-title {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	&.center {
		justify-content: center;
	}
	&.invert {
		.name {
			color: $accent_color;
		}
	}
}
.icon {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: $accent_color;
	@media (max-width: $media_sm) {
		width: 46px;
		height: 46px;
	}
	svg {
		fill: $primary_color;
		width: 26px;
		height: 26px;
		@media (max-width: $media_sm) {
			width: 24px;
			height: 24px;
		}
	}
}
.name {
	margin-left: 16px;
	color: $primary_color;
	letter-spacing: $letter_spacing;
	font-weight: 600;
	text-transform: uppercase;
	font-size: $font_size_sm;
	@media (max-width: $media_sm) {
		font-size: 10px;
	}
}

/*----------------------- TO-TOP -----------------------*/
.call-me {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: $accent_color;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.45);
	border-radius: 50%;
	width: 54px;
	height: 54px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: $media_lg) {
		bottom: 15px;
		right: 15px;
	}
	@media (max-width: $media_sm) {
		width: 46px;
		height: 46px;
	}
	svg {
		fill: #fff;
		transition: 0.35s ease;
		position: relative;
		@media (max-width: $media_sm) {
			width: 24px;
			height: 24px;
		}
	}
	&:before {
		content: "";
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background-color: transparent;
		border: 5px solid $accent_color;
		opacity: 0.3;
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		animation: pulse-phone 2.5s ease 0s infinite normal;
		pointer-events: none;
		@media (max-width: $media_sm) {
			width: 38px;
			height: 38px;
		}
	}
	&__visible {
		position: absolute;
		bottom: 100%;
		right: -6px;
		margin-bottom: 10px;
		color: #fff;
		width: 110px;
		background-color: $accent_color;
		padding: 5px 10px;
		z-index: -1;
		text-align: center;
		border-radius: 4px;
		transform: scale(0);
		transition: 0.6s ease;
		opacity: 0;
		pointer-events: none;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 10px;
		&:before {
			content: "";
			position: absolute;
			bottom: -6px;
			right: 19px;
			width: 0;
			height: 0;
			border-top: 6px solid $accent_color;
			border-right: 6px solid transparent;
		}
	}
	&:hover {
		.call-me__visible {
			opacity: 1;
			z-index: 2;
			transform: scale(1);
		}
	}
	&:active svg {
		transform: rotate(15deg);
	}
}

@keyframes pulse-phone {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.5);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

/*----------------------- STYLE -----------------------*/
// MAIN
.main {
	position: relative;
	text-align: center;
	height: calc(100vh - 70px);
	min-height: 640px;
	padding: 100px 0;
	display: flex;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
		height: auto;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.55);
		pointer-events: none;
	}
	h1 + p {
		color: #fff;
		&:not(:empty) {
			margin-top: 24px;
		}
	}
	.btn {
		margin: 50px auto 0;
		@media (max-width: $media_lg) {
			margin-top: 40px;
		}
	}
	.our-process {
		&__row {
			margin-top: 50px;
			@media (max-width: $media_lg) {
				margin-top: 40px;
			}
		}
	}
}

// CONTACTS
.contacts {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	color: #fff;
	position: relative;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.55);
		pointer-events: none;
	}
	.title + p {
		color: #fff;
	}
	&__form {
		label {
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 4px;
			color: $accent_color;
		}
		.input-item {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	&__btn {
		margin-top: 30px;
		text-align: center;
	}
}

// PAGE-HEADER
.page-header {
	padding: 30px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	min-height: 380px;
	position: relative;
	.container {
		justify-content: space-between;
		display: flex;
		align-items: center;
		@media (max-width: $media_sm) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		pointer-events: none;
	}
	@media (max-width: $media_lg) {
		min-height: 230px;
	}
	@media (max-width: $media_sm) {
		min-height: 140px;
	}
	h1 {
		color: #fff;
		font-size: 60px;
		line-height: 1.35;
		font-weight: normal;
		@media (max-width: $media_lg) {
			font-size: 46px;
		}
		@media (max-width: $media_sm) {
			font-size: 32px;
		}
	}
}

// BREADCRUMBS
.breadcrumbs {
	display: flex;
	font-size: 13px;
	@media (max-width: $media_sm) {
		font-size: 12px;
		margin-top: 8px;
	}
	li {
		&:not(:first-child) {
			&:before {
				content: ">";
				display: inline-block;
				color: #fff;
				margin: 0 12px;
				@media (max-width: $media_sm) {
					margin: 0 5px;
				}
			}
		}
		* {
			color: #fff;
		}
		a:hover {
			color: $accent_color;
		}
	}
}

// POPUP
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 29, 33, 0.98);
	padding: 40px 0;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease;
	display: flex;
	align-items: center;
	&.active {
		opacity: 1;
		z-index: 20;
		pointer-events: auto;
		.popup-wrap {
			transition-delay: 0.15s;
			opacity: 1;
			transform: translateY(0);
		}
	}
}
.popup-close {
	position: absolute;
	font-size: $font_size_sm;
	line-height: 30px;
	letter-spacing: $letter_spacing;
	text-transform: uppercase;
	color: #fff;
	top: 40px;
	right: 40px;
	cursor: pointer;
	@media (max-width: $media_sm) {
		top: 5px;
		right: 10px;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		background-color: $accent_color;
		transition: 0.35s ease;
		opacity: 1;
		pointer-events: none;
	}
	&:hover {
		color: $accent_color;
		&:before {
			width: 30%;
			opacity: 0;
		}
	}
}
.popup-wrap {
	max-width: 530px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	position: relative;
	z-index: 1;
	padding: 0 15px;
	transform: translateY(20px);
	opacity: 0;
	transition: 0.3s ease-out;
	text-align: center;
	max-height: 100%;
	overflow: hidden;
	overflow-y: auto;
	h2 {
		font-size: 36px;
		margin-bottom: 25px;
		@media (max-width: $media_sm) {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}
	p {
		color: #fff;
		margin-top: 24px;
	}
	.form-list {
		margin-top: 78px;
		@media (max-width: $media_sm) {
			margin-top: 40px;
		}
		li {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 34px;
				@media (max-width: $media_sm) {
					margin-bottom: 20px;
				}
			}
			input {
				text-align: center;
				border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				background-color: transparent;
				color: #fff;
				&:focus {
					border-color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}

.popup-slogan {
	font-size: 18px;
	@media (max-width: $media_sm) {
		font-size: 16px;
	}
}

body.modal {
	overflow: hidden;
}

// SOCIALS
.social-list {
	display: flex;
	align-items: center;
	li {
		&:not(:last-child) {
			margin-right: 20px;
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			border: 1px solid $secondary_color;
			svg {
				transition: 0.35s ease;
				line-height: 1;
				fill: $secondary_color;
				width: 16px;
				height: 16px;
			}
			&:hover {
				border-color: $accent_color;
				svg {
					fill: $accent_color;
				}
			}
			&:active {
				svg {
					opacity: 0.8;
				}
			}
		}
	}
}

// COUNTER-INFORMATION
.counter-information {
	background-color: $accent_color;
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&__col {
		display: flex;
		align-items: center;
		@media (max-width: $media_sm) {
			flex: 0 0 100%;
			max-width: 100%;
			flex-direction: column;
			justify-content: flex-start;
			+ * {
				margin-top: 24px;
				position: relative;
				&:before {
					content: "";
					display: block;
					width: 80%;
					height: 1px;
					background-color: $primary_color;
					margin-bottom: 14px;
				}
			}
		}
		span {
			font-size: 50px;
			font-weight: 200;
			flex: 0 0 auto;
			margin-right: 30px;
			@media (max-width: $media_lg) {
				font-size: 38px;
				margin-right: 20px;
			}
			@media (max-width: $media_sm) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}

	&__text {
		flex-grow: 1;
		font-weight: 600;
	}
}

// OUR-SERVICES
.our-services {
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	h2 {
		span {
			display: block;
		}
	}

	&__row {
		margin-left: -15px;
		margin-right: -15px;
	}

	&__col {
		padding: 0 15px;
		&.slick-current {
			.our-services__item {
				&:before {
					opacity: 0.35;
				}
				svg,
				h4,
				p {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}

	&__item {
		min-height: 350px;
		background-color: $primary_color;
		padding: 30px;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-end;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		transition: 0.35s ease;
		@media (max-width: $media_lg) {
			min-height: 290px;
			padding: 20px 15px;
		}
		svg,
		h4,
		p {
			position: relative;
			transform: translateY(10px);
			opacity: 0;
			transition: 0.35s ease;
		}
		&:hover,
		&.active {
			&:before {
				opacity: 0.35;
			}
			svg,
			h4,
			p {
				transform: translateY(0);
				opacity: 1;
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			z-index: 1;
			opacity: 0;
			transition: 0.35s ease;
			pointer-events: none;
		}
		svg {
			width: 30px;
			height: 30px;
			margin-bottom: 16px;
			fill: $accent_color;
			position: relative;
			z-index: 2;
		}
		h4 {
			margin-bottom: 24px;
			position: relative;
			z-index: 2;
			@media (max-width: $media_lg) {
				margin-bottom: 16px;
			}
		}
		p {
			color: #fff;
			position: relative;
			z-index: 2;
		}
	}
}

// OUR-PROCESS
.our-process {
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&__row {
		@media (max-width: $media_sm) {
			margin-bottom: -40px;
		}
	}
	&__invert {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.55);
			pointer-events: none;
		}
		* {
			color: #fff;
		}
		h2 span {
			color: $accent_color;
		}
		.our-process__icon {
			border-color: $accent_color;
			svg {
				fill: $accent_color;
			}
		}
	}
	h2 {
		text-align: center;
	}

	&__col {
		text-align: center;
		@media (max-width: $media_sm) {
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 40px;
		}
		@media (max-width: $media_xs) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__icon {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		border: 1px solid $primary_color;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		transition: 0.35s ease;
		@media (max-width: $media_lg) {
			width: 90px;
			height: 90px;
		}
		@media (max-width: $media_sm) {
			width: 80px;
			height: 80px;
		}
		svg {
			width: 46px;
			height: 46px;
			transition: 0.35s ease;
			@media (max-width: $media_lg) {
				width: 38px;
				height: 38px;
			}
			@media (max-width: $media_sm) {
				width: 32px;
				height: 32px;
			}
		}
		&:hover,
		&.active {
			background-color: $accent_color;
			border-color: $accent_color;
			svg {
				fill: #fff;
			}
		}
		&:hover {
			transform: translateY(-8px);
		}
	}
}

// OUR-LOCATION
.our-location {
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		margin-left: -25px;
		margin-right: -25px;
		@media (max-width: $media_xl) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__col {
		padding: 0 25px;
		@media (max-width: $media_xl) {
			padding: 0 15px;
		}
	}

	&__img {
		flex: 0 0 40%;
		max-width: 40%;
		margin-bottom: -100px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		@media (max-width: $media_lg) {
			margin-bottom: -80px;
		}
		@media (max-width: $media_md) {
			display: none;
		}
		img {
			display: block;
		}
	}

	&__center {
		flex-grow: 1;
		p {
			margin-top: 24px;
			+ p {
				margin-top: 16px;
			}
		}
	}
	.btn {
		margin: 24px -6px 0;
	}
}

// OUR-PRODUCTS
.our-products {
	padding: 100px 0;
	position: relative;
	overflow: hidden;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	.our-products__slider {
		margin-top: 35px;
		@media (max-width: $media_lg) {
			margin-top: 25px;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 35px -15px -15px;
		@media (max-width: $media_lg) {
			margin-top: 25px;
		}
		.our-products__slide {
			flex: 0 0 33.33%;
			max-width: 33.33%;
			padding: 15px;
			@media (max-width: $media_lg) {
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media (max-width: $media_xs) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	&__slider {
		margin-left: -15px;
		margin-right: -15px;
		.our-products__slide {
			padding: 15px;
		}
		.slick-track {
			display: flex !important;
			align-items: stretch;
		}

		.slick-slide {
			height: inherit !important;
		}
	}

	&__slide {
		padding: 0 15px;
		&.slick-current {
			.our-products__item {
				&:before {
					opacity: 0.35;
					transition-delay: 0.4s;
				}
				h5,
				p,
				a {
					transition-delay: transform 0.4s, opacity 0.4s;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}

	&__item {
		box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
		height: 100%;
		transition: 0.35s ease;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		background-color: #fff;
		position: relative;
		&:hover {
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
		}
	}

	&__item-label {
		position: absolute;
		top: 24px;
		left: 0;
		z-index: 2;
		background-color: $accent_color;
		text-transform: uppercase;
		letter-spacing: $letter_spacing;
		font-size: 12px;
		font-weight: 600;
		padding: 8px 10px;
	}

	&__item-content {
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		flex-grow: 1;
		@media (max-width: $media_lg) {
			padding: 20px 15px;
		}
		p {
			flex-grow: 1;
			max-height: 96px;
			position: relative;
			overflow: hidden;
			overflow-y: auto;
			@media (max-width: $media_lg) {
				max-height: 84px;
			}
		}
		a {
			text-transform: uppercase;
			font-size: $font_size_sm;
			letter-spacing: $letter_spacing;
			color: $accent_color;
			position: relative;
			font-weight: 600;
			display: inline-block;
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 8px;
				height: 2px;
				transform: translate(-3px, -50%);
				background-color: $accent_color;
				opacity: 0;
				transition: 0.35s ease;
			}
			&:hover {
				padding-left: 16px;
				&:before {
					opacity: 1;
					transform: translate(0, -50%);
				}
			}
		}
	}

	&__item-content-bottom {
		margin-top: 24px;
	}

	&__item-img {
		height: 280px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px;
		@media (max-width: $media_lg) {
			height: 230px;
			padding: 20px 15px;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	&__colors {
		display: flex;
		li {
			width: 37px;
			height: 37px;
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
			@media (max-width: $media_sm) {
				width: 28px;
				height: 28px;
			}
			+ li {
				margin-left: 10px;
			}
		}
	}

	&__tabs-nav {
		display: flex;
		@media (max-width: $media_sm) {
			margin-top: 24px;
		}
		li {
			font-weight: 600;
			line-height: 36px;
			letter-spacing: $letter_spacing;
			text-transform: uppercase;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			span {
				display: block;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 30%;
					height: 1px;
					background-color: $accent_color;
					transition: 0.35s ease;
					opacity: 0;
					pointer-events: none;
				}
			}
			&:hover {
				span:after {
					width: 100%;
					opacity: 1;
				}
			}
			&.active {
				pointer-events: none;
				color: $accent_color;
				span:after {
					width: 100%;
					opacity: 1;
				}
			}
			+ li {
				&:before {
					content: "/";
					margin: 0 12px;
					color: $primary_color;
				}
			}
		}
	}

	&__tab-wrap-top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: $media_sm) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
}

.slick-dots {
	display: flex;
	align-items: center;
	margin-top: 24px;
	padding-left: 15px;
	padding-right: 15px;
	li {
		position: relative;
		background: #000;
		opacity: 0.2;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		&.slick-active {
			opacity: 1;
			background: $accent_color;
		}
		+ li {
			margin-left: 10px;
		}
		button {
			position: absolute;
			opacity: 0;
			width: 100%;
			height: 100%;
			border: none;
			margin: 0;
			padding: 0;
			top: 0;
			left: 0;
		}
	}
}

/* ---------------------- TAB ----------------------- */
.tabs-content {
	position: relative;
}
.tab {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;
	transition: all 0.25s ease-in-out;
	opacity: 0;
	transform: translateY(10px);
	width: 100%;
}
.tab.visible-content {
	pointer-events: auto;
	z-index: 15;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;
	opacity: 1;
	transform: translateY(0px);
}

// FULL-SERVICE
.full-service {
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -25px;
		margin-right: -25px;
		@media (max-width: $media_xl) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__col {
		padding-left: 25px;
		padding-right: 25px;
		@media (max-width: $media_xl) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__col-left {
		flex: 0 0 35%;
		max-width: 35%;
		@media (max-width: $media_sm) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__col-right {
		flex-grow: 1;
		flex: 0 0 65%;
		max-width: 65%;
		@media (max-width: $media_sm) {
			margin-top: 40px;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__item-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: -50px;
		margin-left: -25px;
		margin-right: -25px;
		@media (max-width: $media_xl) {
			margin-left: -15px;
			margin-right: -15px;
		}
		@media (max-width: $media_lg) {
			margin-top: -40px;
		}
	}

	&__item {
		flex: 0 0 50%;
		max-width: 50%;
		margin-top: 50px;
		padding-left: 25px;
		padding-right: 25px;
		@media (max-width: $media_xl) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media (max-width: $media_lg) {
			margin-top: 40px;
		}
		@media (max-width: $media_xs) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__item-content {
		margin-top: 16px;
		padding-top: 16px;
		border-top: 1px solid $primary_color;
	}
}

// PARTNERS
.partners {
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}

	&__col {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		padding-left: 15px;
		padding-right: 15px;
		@media (max-width: $media_md) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@media (max-width: $media_xs) {
			flex: 0 0 100%;
			max-width: 100%;
			+ * {
				margin-top: 40px;
			}
		}
		&.partners__col-title {
			@media (max-width: $media_md) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 40px;
			}
			@media (max-width: $media_xs) {
				margin-bottom: 0;
			}
		}
	}

	&__item {
		img {
			max-width: 100%;
			display: block;
			margin-bottom: 50px;
			max-width: 200px;
			height: 118px;
			object-fit: contain;
			object-position: bottom left;
			@media (max-width: $media_lg) {
				margin-bottom: 40px;
			}
			@media (max-width: $media_md) {
				max-width: 180px;
				height: 90px;
			}
			@media (max-width: $media_xs) {
				height: auto;
			}
		}
		ul {
			margin-top: 24px;
		}
	}
}

// P-CONTACT
.p-contact {
	padding: 100px 0;
	@media (max-width: $media_lg) {
		padding: 80px 0;
	}
	@media (max-width: $media_sm) {
		padding: 60px 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: -25px;
		margin-right: -25px;
		@media (max-width: $media_xl) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__col {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 25px;
		padding-right: 25px;
		@media (max-width: $media_xl) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media (max-width: $media_sm) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__left {
		img {
			display: block;
		}
		@media (max-width: $media_sm) {
			display: none;
		}
	}

	&__info-item {
		&:not(:first-child) {
			margin-top: 24px;
		}
	}
}
