$accent_color: #ffd023;
$primary_color: #222;
$secondary_color: #999999;
$title_color: #1c1d21;
$bg_color: #222;
$bg_secondary_color: #f9f7f5;
$input_border_color: #dbdbdb;

$border_radius: 0px;

$font_size_md: 14px;
$font_size_sm: 12px;
$letter_spacing: 3px;
$font_family: "Inter", sans-serif;
$font_family_accent: "Inter", sans-serif;

// media
$media_xl: 1366px;
$media_lg: 1199px;
$media_md: 991px;
$media_sm: 767px;
$media_xs: 575px;
